body {
    background: #0147A7;
    color: #fff;
}

body {
    p {
        color: yellow;
    }
}

.main-heading {
    margin-left: 30%;
    color: darkgray;
    margin-top: 1%;
    font-size: xx-large;
}

.testcls {
    p {
        color: purple;
    }
}
